# Gradle
.gradle
/build
*.apk
*.aab
*.ap_
*.dex
*.class
local.properties

# IDE
.idea/
*.iml

# Local
*.jks
*.keystore
*.properties
signing.properties

# OS
.DS_Store
Thumbs.db
Desktop.ini

# NDK
.externalNativeBuild
.cxx

# Build captures
/captures

# Navigation editor
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Logs & traces
*.log
*.hprof
*.trace

# App release (APK should not be committed)
app/release/